@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#image-logo {
    padding-top: 30px;
}
#logo {
    background: url(../assets/backgrounds/hero.jpg);
        padding-bottom: 30px;   
    }
    ul {
        text-decoration: none;
        list-style-type: none;
    }  
    li {
        float: right;
        padding: 10px;
        padding-top: 60px;
        color: white;
        text-decoration: none;
	    display: inline;
    }  
    a {
        color: white;
            
        }
    #shop {
        float: right;
        padding: 10px;
        padding-top: 60px;
    }
    p {
        text-align: center;
        color: white;
        }
        #click {
            padding-top:250px; 
            padding-left: 600px;
        }
        #p1{
            padding: 200px;
             padding-bottom: 5px;
              font-size: 40px;
        }
        #checkbox {
            background-color: #b0aa91;
            padding: 30px 0px 30px 0px;
  
            }
             input[type="submit"]{
                  background: #b71c1c;
                  color: white;
                  float: right;
                  margin-right: 20px;
                
             }
            input {
                  border: 0;
                  padding: 10px;
                  
                }
                input[type="checkbox"]{
                    margin-left: 30px;
                }